@using database_final_project.Models;
@using database_final_project.Patterns;
@using Newtonsoft.Json;

@model UserModel
@{
    ViewData["Title"] = "Products";
}

@{
   
    var isLoggedIn = TempData["IsLoggedIn"].ToString();
    TempData.Keep("IsLoggedIn");

    int minprice = 0;
    int maxprice = 0;

    List<Product> products = new List<Product>();

    if (TempData["SearchRequest"] != null)
    {

        products = AzureDb.Instance.SearchProducts(TempData["SearchRequest"].ToString());
    }
    else if (TempData["MinPrice"] != null || TempData["MaxPrice"] != null)
    {

        minprice = Convert.ToInt32(TempData["MinPrice"]);
        maxprice = Convert.ToInt32(TempData["MaxPrice"]);

        products = AzureDb.Instance.SearchProductsOnPrice(minprice, maxprice);
    }
    else
    {

        products = AzureDb.Instance.GetProducts();
    }
    

  
    if (isLoggedIn != string.Empty)
    {
        var name = isLoggedIn.ToString().Split(',').ElementAt(0);
        var id = int.Parse(isLoggedIn.ToString().Split(',').ElementAt(1));
        <p> you are logged in as @name</p>

        <div class="container">
            <form name="UserModel" method="POST" action="/Home/Logout">

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">Log Out</button>
                    </div>
                </div>


            </form>
        </div>

        <br />
        <div class="container d-inline-flex">
            <div>
                <form name="UserModel" method="POST" action="/Home/SearchProducts">
                    <h2>Search by Product Name or Description</h2>
                    <div class="field">
                        <p></p>
                        <div class="control">
                            <input class="input" type="text" placeholder="" name="request" required>
                        </div>
                    </div>



                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Search</button>
                        </div>
                    </div>

                </form>
            </div>

            <div><p class="invisible">________________________</p></div>

            <div>
                <h2>Search by Price</h2>
                <form name="UserModel" method="POST" action="/Home/SearchProductsOnPrice">
                    <div class="field">
                        <p>Min price:</p>
                        <div class="control">
                            <input class="input" type="number" placeholder="" value="@minprice" name="in_min">
                        </div>
                    </div>
                    <div class="field">
                        <p>Max price:</p>
                        <div class="control">
                            <input class="input" type="number" placeholder="" value="@maxprice" name="in_max">
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Search Prices</button>
                        </div>
                    </div>

                </form>
                <br />
                <form name="UserModel" method="POST" action="/Home/ClearSearchProducts">

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Clear Searches</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <h1>Products :</h1>
        <br />


        foreach (var Product in products)
        {

          var RateModel = new RateModel();
          RateModel.ProductId = Product.nProductId;
               

            <div class="table-bordered">

                <h2>@Product.cname</h2>
                <p>Description : @Product.cdescription</p>
                <p> Stock: @Product.nStock units</p>
                <p>Price: @Product.nUnitPrice DKK</p>
                                           
                <div class="container">

                    <button>
                        <a href="@Url.Action("AddToBasket", "Home", Product)">Add to basket</a>
                    </button>

                    <button>
                        <a href="@Url.Action("ProductDetails","Home",Product)">ProductDetails</a>
                    </button>

                    <button>
                        <a href="@Url.Action("RateProduct","Home",RateModel)">Rate a Product</a>
                    </button>

                </div>

            </div>
            <br />           
        }



    }
    else
    {
        <h2>Acces restricted Please log in <a href="/">here</a></h2>
    }
}